RABBITMQ_URL=amqp://login:pswd@addr:port/

REDIS_ADDR=addr:port
REDIS_PASSWORD=pswd
REDIS_DB=
REDIS_POOL_SIZE=

WORKER_COUNT=
WORKER_TASK_TIMEOUT=1s

ROBOTS_USER_AGENT=VortexBot
ROBOTS_HTTP_USER_AGENT=VortexBot/1.0
ROBOTS_HTTP_TIMEOUT=1s
ROBOTS_CACHE_TTL=1h
ROBOTS_DENIED_CACHE_TTL=1h

CRAWLER_RATE_LIMIT=1
CRAWLER_RATE_LIMIT_WINDOW=1s
CRAWLER_COOLDOWN_TTL=1s
CRAWLER_POLLER_INTERVAL=1s
